<div class="row">
    <div class="col-md-4">
	  <%= image_tag @book.image_url(:book_show),class: "book-show img-responsive"  %>
	</div>

	<div class="col-md-8">
		<h2><%= @book.title %></h2>
		<h3><%= @book.author %></h3>
		<p><%= @book.description %></p>
	</div>

</div>

<div class="row">
	<div class='col-md-4'>
	  <%= render @book.reviews %>
		<div>
			<%= link_to 'Add Review', new_book_review_path(@book) %>
		</div>
	</div>

</div>



<%=  link_to "Back", root_path %>

<% if user_signed_in? %>

	<% if @book.user_id = current_user %>

	  <%= link_to "Edit" , edit_book_path(@book)%>
	  <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %>
	<% end %>

<% end %>

<h1>Book Finder</h1>
<input id="search" placeholder="Title or Author">
<button id='button' type="button">Click Me</button>
<div id="results"></div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path:'/assets/'
	});

</script>

<script>
  function bookSearch(){
    var search = document.getElementById('search').value
    document.getElementById('results').innerHTML = ""
    console.log(search)

    $.ajax({
      url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
      dataType: "json",

      success: function(data) {
        for(i = 0; i < data.items.length; i++){
          results.innerHTML += "<h2>" + data.items[i].volumeInfo.title + "</h2>"
          results.innerHTML += "<p>" + data.items[i].volumeInfo.authors + "</p>"
          results.innerHTML += "<p>" + data.items[i].volumeInfo.publisher + "</p>"
          results.innerHTML += '<%= image_tag(' + data.items[i].volumeInfo.imageLinks.thumbnail + ') %>'
        }
      },

      type: 'GET'
    });
  }

  document.getElementById('button').addEventListener('click', bookSearch, false)
</script>
